<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Server</string>
			<key>Key</key>
			<string>serviceURL</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Titles</key>
			<array>
				<string>Localhost</string>
				<string>Development</string>
				<string>Integration</string>
				<string>Staging</string>
				<string>Authoring</string>
				<string>Live</string>
			</array>
			<key>Values</key>
			<array>
				<string>http://localhost:4000/babynes</string>
				<string>http://babynes-dev69-ch.dev.isc4u.de/_vti_bin/DGNG/MobileServices/BabyNesService.svc/help</string>
				<string>http://babynes-int-ch.dev.isc4u.de/_vti_bin/DGNG/MobileServices/BabyNesService.svc</string>
				<string>http://staging.babynes.ch/_vti_bin/DGNG/MobileServices/BabyNesService.svc</string>
				<string>https://authoring.babynes.ch/_vti_bin/DGNG/MobileServices/BabyNesService.svc</string>
				<string>https://www.babynes.ch/_vti_bin/DGNG/MobileServices/BabyNesService.svc</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
