
/* BabyNes iOS app */

body {
	color: rgb(75, 74, 99);
	font-family: Bariol;
	font-weight: normal;
	font-size: 100%;
	background: rgb(223, 224, 233) url(g/background_home.png) repeat 0 0;
}

/* @group typo */

@font-face {
	font-family: Bariol;
	src: url(Bariol_Bold.otf);
	font-weight: bold;
}

@font-face {
	font-family: Bariol;
	src: url(Bariol_Light.otf);
	font-weight: 300;
}

@font-face {
	font-family: Bariol;
	src: url(Bariol_Regular.otf);
	font-weight: normal;
}

@font-face {
	font-family: Bariol;
	src: url(Bariol_Thin.otf);
	font-weight: 200;
}

h1, h2.subhead {
	margin: 0;
	color: rgb(75, 74, 99);
	text-align: center;
}

h1 {	
	font-size: 14px;
	font-weight: normal;	
}

h2.subhead { font-size: 12px; }

p, ul { font-size: 12px; }

ul {
	margin: 0 0 10px 12px;
	padding: 0;
	list-style-type: disc;
}

ul li {
	margin-bottom: 5px;
}

sup { font-size: 70%; }

/* @end */

/* @group layout */

#container {
	margin: 0 auto;
	width: 96%;
}

/* accordion */

#accordion { padding: 10px 0; }

p.showme {
	margin: 5px 0 0 0;				
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
}

p.showme a {
	padding: 17px 50px 17px 17px;
	color: rgb(151, 147, 187);
	display: block;
	text-decoration: none;
	background: rgb(255, 255, 255) url(g/down_arrow.png) no-repeat 94% center;
	border-radius: 6px;
	border-bottom: 2px solid rgb(157, 158, 164);	
}

p.showme.showme_active a {
	color: rgb(75, 74, 99);
	background: rgb(255, 255, 255) url(g/uparrow_active.png) no-repeat 94% center;
	border-bottom: none;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.show_container {
	padding: 5px 17px 17px 17px;
	background: rgb(255, 255, 255);
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom: 2px solid rgb(157, 158, 164);
}

.show_container h1 { text-align: left; }

.show_container p { margin: 0 0 10px 0; }

.show_container p.first {
	padding-top: 15px;
	border-top: 1px solid rgb(75, 74, 99);
}

/* @end */

/* @group media queries for retina  */
	
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
	
	p.showme a {		
		background: rgb(255, 255, 255) url(g/down_arrow_2x.png) no-repeat 94% center;
		background-size: 9px 5px;
	}
	
	p.showme.showme_active a {
		background: rgb(255, 255, 255) url(g/uparrow_active_2x.png) no-repeat 94% center;
		background-size: 9px 5px;
	}	
	
}	
	
/* @end */
